
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div>
	<div>
		<h3>用户登录</h3>
	</div>
	<div>
		账号:<input id="Name" placeholder="请输入账号" />
		<br />
		密码:<input id="Password" placeholder="请输入密码" />
		<br />
		验证码:<input id="Verification" placeholder="请输入验证码" />
	</div>
	<div>
		<button>登录</button>
		<button>注册</button>
	</div>
</div>

